/*
https://dribbble.com/shots/20333170-The-Trailers-Concept-Site-Part-2
*/

* { 
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap');

html, body { 
    margin: 0;
    padding: 0;
}

html {
    background-image:
    linear-gradient(to bottom, rgba(83, 187, 212, 0.836), rgb(24, 96, 129));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Barlow Condensed', sans-serif;
    margin:0;
}

.container {
    font-family: 'Montserrat', sans-serif;
    margin:0 auto;
    background-color: #05161E;
    color:#fff;
    background-size: cover;
    background-position-y:-150px;
    width:70%;
}
.movie_splash{
    background-size: cover;
    padding:0;
    height:400px;
}

nav {
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:300px;
    padding:50px;
    /* background-color:rgba(5, 22, 30, .1); */
}

footer {
    padding: 20px 50px;
    background-color:#1d2124;
}

section {
    padding: 0px 50px;

}

#main_details, #cast_details, #related_movies_section, #new_movies_section {
    margin-bottom:0;
    padding-bottom:20px;
}

#section_title {
    margin:20px 0px;
    text-transform: uppercase;
}

#section_title h4 {
    font-size:1.2rem;
}

input {
    background-color:black;
    background-color:rgba(5, 22, 30, .8);
    color:#ccc;
    padding:10px;
    border-radius:10px;
    width:300px;
}

input:focus {
    background-color:rgba(5, 22, 30, 1);
}

#logo {
    text-transform: uppercase;
}

#pop_details {
    display:flex;
    gap:20px;
    margin:20px 0px;
    justify-content: space-between;

}

#movie_title{
    margin:20px 0px;
}

#movie_title h1{
    font-size:3rem;
    text-transform: uppercase;
    letter-spacing:-1px;
    margin:20px 0px;
}

#movie_tags {
    margin:20px 0px;
}

#movie_tags ul {
    padding:0;
    margin:0;
}

#movie_tags ul li {
    display:inline-block;
    border:1px solid #fff;
    margin-right:2px;
    padding:5px 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgba(74, 77, 78, 0.8);
    font-size:.8rem;
}

#movie_director span {
    margin-right:20px;
    font-size:1rem;
}

.movie_details_title{
    text-transform: uppercase;
    text-orientation:sideways;
    writing-mode: vertical-rl;
    position: absolute;
    left:15px;
    font-size:0.8rem;
    text-align:center;
    opacity: .4;
    font-weight: bold;
}

.movie_details_content{
    font-size:1.6rem;
    width:85%;
    text-align: center;
}

.movie_details_box {

    background-color:rgba(27, 35, 39, 0.8);
    height:100px;
    width:160px;
    padding:15px;
    display:flex;
    gap:50px;
    align-items: center;
    justify-content: center;
    position:relative;
    border-radius:15px;
}

.movie_details_box img {
    height:100%;

}

.video img{
    height:100px;
}

#movie_cast {
    display:flex;

}

.cast_member {
    width:120px;
    text-align:center;
    font-size:0.8rem;
}

.cast_member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius:50%;
}

#movie_related {
    display:flex;
    gap:20px;
    justify-content: flex-start;
}

#movie_top {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.related_movie {
    height:100%;
    text-align: center;
    font-size:.8rem;
    
}

.related_movie img {
    height:100%;
    border-radius: 10px;
}