* { 
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap');

html, body { 
    margin: 0;
    padding: 0;
}

html {
    background-image:
    linear-gradient(to bottom, rgba(83, 187, 212, 0.836), rgb(24, 96, 129));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Barlow Condensed', sans-serif;
    margin:0;
}

.container {
    width: 100%;
    height:100vh;

}

.container-inner {
    width:50%;
    background-color: #05161eee;
    font-family: 'Montserrat', sans-serif;
    margin:0 auto;
    color:#fff;
    background-size: contain;
    padding-bottom:50px;


}

nav {
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 0px 50px;
    padding:50px 0px;
}


footer {
    padding: 20px 50px;
    background-color:#1d2124;
    position:fixed;
    width:100%;
    left:0px;
    bottom:0px;
}

section {
    padding: 0px 50px;

}


#section_title {
    margin:20px 0px;
    text-transform: uppercase;
}

#section_title h4 {
    font-size:1.2rem;
}

input {
    background-color:black;
    background-color:rgba(5, 22, 30, .8);
    color:#ccc;
    padding:10px;
    border-radius:10px;
    width:300px;
}

input:focus {
    background-color:rgba(5, 22, 30, 1);
}

#logo {
    text-transform: uppercase;
}

#movie_title{
    margin:20px 0px;
}

#movie_title h1{
    font-size:3rem;
    text-transform: uppercase;
    letter-spacing:-1px;
    margin:20px 0px;
}

#movie_tags {
    margin:20px 0px;
}

#movie_tags ul {
    padding:0;
    margin:0;
}

#movie_tags ul li {
    display:inline-block;
    border:1px solid #fff;
    margin-right:2px;
    padding:5px 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgba(74, 77, 78, 0.8);
    font-size:.8rem;
}

#movie_director span {
    margin-right:20px;
    font-size:1rem;
}

.main_details {
    display:flex;
    justify-content: center;
    gap:50px;
    margin: 0px 50px;
}
.movie_details{
    width:60%;
}

.movie_poster {
    width:40%;
}

.movie_poster img {
    width:100%;
}


.video img{
    height:100px;
}

#movie_cast {
    display:flex;

}

.cast_member {
    width:120px;
    text-align:center;
    font-size:0.8rem;
}

.cast_member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius:50%;
}

#movie_related {
    display:flex;
    gap:20px;
    justify-content: flex-start;
}

#movie_top {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:40px;
    width:60%;
}

#movie_selected {
    display:flex;
    flex-wrap: wrap;
    width:40%;
    background:red;
}

.related_movie {
    height:100%;
    text-align: center;
    font-size:.8rem;
    
}

.related_movie img {
    height:100%;
    border-radius: 10px;
}